
venv/
*.env
.env

__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
.idea/

build/
dist/
*.egg-info/
*.egg

.pytest_cache/
.coverage
htmlcov/

Data Pipeline/

Scripts/

.DS_Store  # macOS
Thumbs.db  # Windows